
.projects-conteiner {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 35px;
}