#beaty-salon-face-lewy1, #beaty-salon-lewy1 {
	height: 500px;
	width: 25%;
	background: Lavender;
	float: left;
    margin-top: 20px;
}
#beaty-salon-lewy2, #beaty-salon-face-lewy2 {
	height: 300px;
	width: 25%;
	background: Lavender;
	float: left;
}
#prawy1-salon,  #beaty-salon-face-prawy1{
	height: 150px;
	width: 75%;
	background: Indigo;
	color: white;
	font-size: 200%;
	text-align: center;
	float: right;
    margin-top: 20px;
}
#prawy2-salon, #beaty-salon-face-prawy2 {
	height: 650px;
	width: 75%;
	background: Lavender;
	font-size: 200%;
	text-align: center;
	float: right;
}
#beaty-salon-stopka, #beaty-salon-face-stopka {
	background: Indigo;
	color: white;
	text-align: right;
	clear: both;
}
#beaty-salon-ul, #beaty-salon-face-ul  {
	list-style-type: square;
}
#beaty-salon-first-img, #beaty-salon-second-img, #beaty-salon-face-img {
	padding: 5px;
	margin: 10px;
}
#beaty-salon-first-img, #beaty-salon-second-img, #beaty-salon-face-img:hover {
	padding: 4px;
	border: 1px solid Indigo;
}