
.project-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.project-omlette {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
}

.project-creditcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.project-calculator {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}