.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 700px;
    height: 700px;
}

.image-container {
    flex-shrink: 0;
    margin-top: 75px;
    margin-left: 100px;
}

.my-image {
    height: 500px;
    width: 435px;
    border: 10px solid white; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.705); 
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 75px;
    margin-left: 55px;
}

.about-header {
    font-size: 35px;
}
.about-first-text {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 1000px;
    font-size: 25px;
}
.about-second-text, .about-third-text {
    font-size: 25px;
}
.certificate-link {
    text-decoration:underline;
    color: white;
}
.navigation-conteiner {
    float: right;
}

@media screen and (max-width: 1024px) {
    
  
    .text-container {
        width: 500px;
        height: 450px;
        margin-top: 0px;
        font-size: 35px;
    }
    .about-first-text {
        width: 500px;
        height: 450px;
    }
    .my-image {
        width: 350px;
        height: 430px;
    }
    .image-container {
        margin-left: 35px;
    }
}
@media screen and (max-width: 768px) {
    .my-image {
        width: 220px;
        height: 300px;
    }
}

@media screen  and (max-width: 425px) {
    .about-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
        justify-content: flex-start;
    }
    .text-container {
        width: 350px;
        height: 350px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .about-first-text {
        width: auto;
    }
    .my-image {
        width: 250px;
        height: 290px;
    }
    .image-container {
        margin-top: 45px;
    }
    
}