.fryzjer-main,
.fryzura-main {
  display: flex;
  font-family: Helvetica;
  flex-direction: column;
}
#lewy1 {
  height: 400px;
  width: 70%;
}
#lewy2 {
  height: 400px;
  width: 70%;
  font-size: 150%;
}
#prawy1 {
  height: 150px;
  width: 30%;
  background: SteelBlue;
  color: white;
}
#prawy2 {
  height: 350px;
  width: 30%;
  background: SteelBlue;
  color: white;
}
#prawy3 {
  height: 300px;
  width: 30%;
}
#stopka {
  background: SteelBlue;
  color: white;
}
.header-fryzjer,
.menu-fryzjer,
.header-fryzura {
  font-size: 250%;
}

.first-img,
.second-img:hover {
  border: 1px solid SteelBlue;
}
.salon-link, .hairstyle {
	text-decoration: none;
	color: white;
}
.salon-link, .hairstyle, :hover {
	text-decoration: underline;
}