.container-fryzjer,
.container-fryzura {
  display: flex;
  font-family: Helvetica;
  flex-direction: column;
  margin-top: 25px;
}
#lewy1 {
  background: SteelBlue;
}
#lewy2 {
  font-size: 150%;
  background: SteelBlue;
}
#prawy1 {
  background: SteelBlue;
  color: white;
}
#prawy2 {
  background: SteelBlue;
  color: white;
}
#prawy3 {
  background: SteelBlue;
}
#stopka {
  background: SteelBlue;
  color: white;
}
.header-fryzjer,
.menu-fryzjer,
.header-fryzura {
  font-size: 250%;
}
.first-img,
.second-img:hover {
  border: 1px solid SteelBlue;
}
.salon-link, .hairstyle {
	text-decoration: underline;
	color: white;
  font-size: 20px;
}

.header-fryzjer, .header-fryzura {
  text-align: center;
}

.second-img {
  width: 100%;
  height: 370px;
}

@media screen and (max-width: 1024px ) {
  .second-img {
    width: 100%;
    height: 275px;
  }
  .header-fryzura {
    text-align: center;
  }
}



@media screen and (max-width: 768px ) {
  .second-img {
    width: 100%;
    height: 240px;
  }
  .header-fryzura {
    text-align: center;
  }
}


@media screen and (max-width: 425px) {
  .second-img {
    width: 100%;
  }
}
