body {
    background-color: black;
    color: white;
}

.link-about, .link-contact, .link-main, .link-projects, .welcome-button-text {
    text-decoration:none;
    color: white;
}
.welcome-text-conteiner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}
.nav-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}
.welcome-text {
    width: 450px;
    font-size: 30px;
    color: gray;
}
.welcome-first-header {
    font-size: 40px;
}
.welcome-second-header {
    font-size: 55px;
    width: 350px;
}
.welcome-button {
    background-color: black;
    border-radius: 16px;
    border-style:groove;
    border-color: white;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
}

.prev-projects {
    width: 800px;
    position: relative; left: 850px; bottom: 620px
}
@media screen and (max-width: 2560px) {
    
}
@media screen and (max-width: 1024px) {
    .nav-conteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .welcome-text-conteiner {
        margin-left: 0px;
    }
    .prev-projects {
        width: 500px;
        position: relative; left: 260px; top: 50px
    }
}

@media screen and (max-width: 768px) {
    .nav-conteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .welcome-text-conteiner {
        margin-left: 0px;
    }
    .prev-projects {
        width: 450px;
        position: relative; left: 155px; top: 50px
    }
}
@media screen and (max-width: 425px) {
    .nav-conteiner {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .nav-conteiner p {
        font-size: 30px;
        text-align: center;
    }
    .nav-conteiner a {
        margin: 0px;
    }
    .github-icon, .linkedin-icon {
        width: 35px;
        height: 35px;
    }
    
    .welcome-text-conteiner {
        display: flex;
        flex-direction: column;
    }
    .welcome-text {
        width: 400px;
        font-size: 25px;
    }
    .prev-projects {
        width: 400px;
        position: relative; left: 1px; top: 30px
    }

}
@media screen and (max-width: 320px){
    .nav-conteiner p {
        font-size: 20px;
    }
    .github-icon, .linkedin-icon {
        width: 30px;
        height: 30px;
    }
    .welcome-first-header {
        font-size: 33px;
    }
    .welcome-second-header {
        font-size: 40px;
        width: 200px;
    }
    .welcome-text {
        font-size: 25px;
        width: 320px;
    }
    .welcome-button {
        margin-left: 5px;
    }
}