.link-about,
.link-contact,
.link-main,
.link-projects {
  text-decoration: none;
  color: #1f2937;
}
.welcome-text-conteiner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 50%;
  padding-left: 2%;
  padding-top: 5%;
}
.nav-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
}
.welcome-text {
  font-size: 20px;
}
.welcome-first-header {
  font-size: 35px;
}
.welcome-second-header {
  font-size: 25px;
}
.welcome-button-text {
  color: white;
  text-decoration: none;
}
.welcome-button {
  background-color: #1f2937;
  border-radius: 12px;

  font-size: 18px;
  padding: 5px 10px;

  cursor: pointer;
  transition: all 0.3s ease;
}
.welcome-button:hover {
  background-color: #1d4ed8;
}

.images-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.my-stack-icons {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 40px;
  padding-top: 12%;
  
}
.stack-icon {
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.stack-icon img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.stack-icon.center {
  grid-column: 2 / 1;
}
.stack-icon.empty {
  background: transparent;
  box-shadow: none;
}
.main-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 60%;
}
@media screen and (max-width: 1024px) {
  .images-container {
    display: flex;
    justify-content: flex-start;
  }
  .my-stack-icons {
    
    padding-top: 55px;
  }
}

@media screen and (max-width: 802px) {
  .nav-conteiner {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .images-container {
    display: flex;
    justify-content: flex-start;
  }
  .my-stack-icons {
    padding-top: 45px;
    
  }
  
}

@media screen and (max-width: 660px) {
   .main-conteiner {
    flex-direction: column;
  }
  .my-stack-icons {
    grid-template-columns: repeat(3, 100px);
    gap: 20px;
    display: grid;
    justify-content: start;
    
  }
  .stack-icon {
    width: 80px;
    height: 80px;
  }
  .welcome-text-conteiner {
    max-width: 100%;
  }
  .main-conteiner {
    max-width: 80%;
  }
}



@media screen and (max-width: 375px) {
  .my-stack-icons {
    display: flex;
    flex-direction: column;
    gap: 11px;
    
  }
 
}

@media screen and (max-width: 320px) {
  .images-container {
    display: flex;
    justify-content: flex-start;
  }
  .my-stack-icons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    
  }
}
