
.my-image {
    height: 475px;
    width: 475px;
}
.about-conteiner {
    display: flex;
    align-items: center;
}
.text-conteiner {
    display: flex;
}

.about-first-text
{
    margin-top: 0;
    margin-bottom: 1rem;
}