.contact-conteiner {
    display: flex;
    flex-direction: column;
    font-size: 20;
}

.contact-welcometext, .contact-first-header {
    text-align: center;
} 


.info-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-link {
    text-decoration:underline;
    color: white;
}
.nav-menu {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 1024px) {
    .info-conteiner {
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .info-conteiner {
        align-items: center;
    }
    .contact-conteiner, .contact-welcometext {
        font-size: 25px;
    }
}

@media screen and (max-width: 425px) {
    
    .info-conteiner {
        align-items: center;
    }
    .contact-conteiner, .contact-welcometext {
        font-size: 20px;
    }
}
@media screen  and (max-width: 375px){
    .info-conteiner {
        align-items: center;
    }
    .contact-conteiner, .contact-welcometext {
        font-size: 20px;
    }
}


@media screen and (max-width: 320px) {
    .info-conteiner {
        align-items: center;
    }
    .contact-conteiner, .contact-welcometext {
        font-size: 17px;
    }
}