

.creditCard-container {
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    background-color: white;
    background-image: url('http://localhost:3000/images/bg-main-desktop.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  }

.front-card, .back-card {
    color: white;
}

.first-input, .second-input, .third-input, .four-input, .five-input {
    border-radius: 8px;
    line-height: 30px;
    border-style:ridge;
    border-color: grey;
    border-width: 1px;
}
.card-name, .card-number, .data, .cvc {
    font-size: 13px;
}
.confirm {
    border-radius: 8px;
    border-style: none;
    color: white;
    background-color: hsl(278, 94%, 30%);
    line-height: 30px;
    width: 205px;
}
.form-conteiner {
 color: white;
}
.attribution-credit {
    color: black;
    text-align: center;
}
    .inputs-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 170px;
    }
    .background-card {
       display: flex;
       align-items: center;
       
    }
    .front-card {
        position: absolute;
        margin-left: 120px;
        margin-bottom: 190px;
        color: white;
      }
      
      .back-card {
        position: absolute;
        color: white;
        margin-top: 350px;
        margin-left: 200px;
      }
      .number-front {
        position: absolute;
        top: 55%;
        left: 10%;
      }
      .name {
        position: absolute;
        top: 80%;
        left: 10%;
      }
      .mounth-card {
        position: absolute;
        top: 80%;
        left: 80%;
    }
    .cvc-card {
        position: absolute;
        top: 38.5%;
        left: 80%;
    }
    .confirm {
        border-radius: 12px;
        border-style: none;
        color: white;
        background-color: hsl(278, 94%, 30%);
        line-height: 30px;
        margin-top: 15px;
    }
@media screen and (max-width: 2560px){
    .creditCard-container {
        margin-top: 35px;
    }
    .front-card {
        margin-left: 3%;
        margin-top: 0%;
        font-size: 32px
    }
    .mounth-card {
        top: 50%;
    }
    .front-card-image {
        width: 600px;
        height: 300px;
    }
    .number-front {
        top: 15%;
    }
    .name {
        top: 50%;
    }
    .back-card {
        margin: 35%;
        margin-top: 47%;
        margin-left: 7%;
        font-size: 32px;
    }
    .back-card-image {
        width: 600px;
        height: 300px;
    }
    .cvc-card {
        top: 29%;
        left: 70%;
    }
    .first-input, .second-input, .third-input, .four-input, .five-input {
        width: 300px;
        height: 60px;
        font-size: 32px
    }
    .card-name, .card-number, .data, .cvc, .confirm {
        font-size: 32px;
        text-align: center;
    }
    .confirm {
        width: 350px;
       height: 60px;
    }
    .inputs-button {
        margin-left: 390px;
    }
}
@media screen and (max-width: 1440px) {
    .front-card {
        margin-top: 30%;
        margin-left: 2%;
    }
    .back-card {
        margin-top: 45%;
        margin-left: 2%;
    }
    .form-conteiner {
        margin-left: 5%;
    }
    .mounth-card {
        top: 50%;
    }
}
@media screen and (max-width: 1024px)  {
    .front-card-image {
        width: 500px;
    }
    .front-card {
        top: 0%;
    }
    .back-card {
        top: 15%;
    }
    .back-card-image {
        width: 500px;
    }
    .mounth-card, .name, .number-front, .cvc-card {
        font-size: 28px;
    }
    .cvc-card {
        top: 30%;
    }
    .card-form {
        margin-right: 30%;
    }
}

@media screen and (max-width: 768px)  {
    .main-conteiner-content {
        width: 700px;
        height: 300px;
    }
    .creditCard-container {
        width: 750px;
        height: 1100px;
        margin-top: 150px;

    }
    .background-card {
        position: relative;
        width: 715px;
        height: 260px;
    }
    .background-image {
        width: 750px;
        height: 490px;
        display: flex;
        position: absolute;
    }
    .back-card {
        display: flex;
        width: 20px;
        height: 200px;
        position: absolute;
        margin-left: 220px;
        border-radius: 20px;
        margin-top: 20%;
    }
    .front-card {
        display: flex;
        width: 370px;
        height: 200px;
        margin-top: 0%;
        position: absolute;
        margin-left: 140px;
        border-radius: 20px;
        
    }
    .form-conteiner {
        position: absolute;
        margin-top: 130%;
        width: 300px;
        height: 300px;
        margin-right: 25px;
        text-align: center;
    }
    .conteiner-card {
        color: white;
    }
    .number-front {
        top: 15%;
    }
    .name {
        top: 50%;
    }
    .mounth-card {
        top: 50%;
        
    }
    .cvc-card {
        top: 36%;
        margin-left: 350px;
    }
    .inputs-button {
        margin-left: 390px;
    }
    .back-card-image {
        width: 450px;
        height: 250px;
    }
    .front-card-image {
        width: 450px;
        height: 250px;
    }
    .name, .cvc-card, .mounth-card, .number-front, .number-front {
        font-size: 20px;
    }
    .first-input, .card-name, .card-number, .second-input, .data, .third-input, .four-input, .cvc, .five-input, .confirm  {
        font-size: 20px;
    }
}

@media only screen and (max-width: 425px) {
   
    .main-conteiner-content {
        width: 495px;
        height: 260px;
    }

    .background-card {
        position: relative;
        width: 460px;
        height: 260px;
    }
    
    .background-image {
        width: 487px;
        height: 260px;
        display: flex;
        position: absolute;
    }
   
    .back-card {
        display: flex;
        width: 20px;
        height: 200px;
        position: absolute;
        margin-left: 20px;
        border-radius: 20px;
        margin-top: 35%;
    }
    
    .front-card {
        display: flex;
        width: 370px;
        height: 200px;
        margin-top: 5%;
        position: absolute;
        margin-left: 20px;
        border-radius: 20px;
        
    }
    
    .inputs-button {
        width: 385px;
        height: 300px;
        display: flex;
        margin-top: 100px;
        margin-left: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first-input, .second-input {
        margin-bottom: 10px;
        width: 200px;
    }
    .third-input, .four-input {
        width:93px;
        text-align: center;
    
    }
    .four-input {
        margin-left: 3px;
    }
    
    .five-input {
        width: 90px;
        text-align:left;
    }
    
    .card-name, .card-number {
        text-align: left;
        line-height: 0px;
    }
    .data {
        line-height: 0px;
    }
    .cvc {
        height: 9px;
        text-align: center;
    }
    .button-confirm {
        text-align: center;
        margin-right: 25px;
    }
    .confirm {
        border-radius: 8px;
        border-style: none;
        color: white;
        background-color: hsl(278, 94%, 30%);
        line-height: 30px;
        width: 205px;
        margin-left: 25px;
        margin-bottom: 50px;
    }
    .conteiner-card {
        position: relative;
        color: white;
        width: 20px;
        height: 175px;
    }
    .number-front {
        position: absolute;
        top: 15%;
        left: 20px;
    }
    .name {
        position: absolute;
        top:55%;
        left:20px;
       
    }
    .mounth-card {
        position: absolute;
        top: 55%;
        left: 85%;
    }
    .cvc-card {
        position: absolute;
        margin-left: 340px;
        top: 36%;
       
    }
    .creditCard-container {
        width: 487px;
        height: 1000px;
        margin-top: 55px;
    }
    .form-conteiner {
        position: absolute;
        margin-top: 225%;
        width: 300px;
        height: 300px;
        color: white;
        margin-right: 25px;
    }
    }