.slide__right__ul__close {
  width: 20px;
  height: 50px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  z-index: 101;
  box-shadow: 0px 0px 24px -7px rgba(57, 58, 78);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(11px, 2vw, 13px);
}
.slide__right__ul__close__span.rotate {
  transform: rotate(180deg);
}
.slide__right__ul__close__span {
  color: black;
  transition: all 0.2s ease-in-out;
}
.slide__right {
  width: 300px;
  height: 100vh;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(312px);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  color: white;
}

.slide__right.open {
  transform: translateX(0);
}

.slide__left {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}
.slide__left.open {
  opacity: 1;
  pointer-events: auto;
}
.slide__right__ul {
  height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(17px, 2.5vw, 23px);
  padding-top: 60px;
  padding-left: 32px;
  padding-right: 20px;
}
.slide__right__all__li {
  width: 100%;
}
.slide__right__ul__svg {
  width: 30px;
  height: 30px;
}
.slide__right__ul__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.slide__right__ul__li svg {
  margin-top: 5px;
}
.slide__right__button {
  width: 100%;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  font-size: clamp(12px, 2vw, 14px);
  margin: 0 auto;
  font-size: clamp(15px, 2.2vw, 18px);
  margin-bottom: 10px;
}

.slide__right__button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.slide__right__button:nth-of-type(2) {
  margin-bottom: 30px;
}
.p_link {
  text-decoration: none;
  color: white
}
.p_link:hover {
  color: #1d4ed8;
}
@media (min-width: 1230px) {
  .box__burgermenu {
    display: none;
  }
  .slide__burgerMenu {
    display: none;
  }
  .slide__left {
    display: none;
  }
  .slide__right {
    display: none;
  }
}
@media (max-width: 689px) {
  .slide__right {
    width: 250px;
  }
  .slide__right__ul__li {
    font-size: clamp(16px, 2.3vw, 20px);
  }
  .slide__right__button {
    font-size: clamp(14px, 2vw, 16px);
  }
}
@media (max-width: 425px) {
  .box__burgermenu {
    display: block;
    position: relative;
    top: 15px;
    z-index: 102;
  }
  .slide__right {
    width: 220px;
  }
}
