.color-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: Helvetica;
	background-color: Linen;
	color: #222;
	width: 1125px;
	margin-top: 65px;
	margin-left: 290px;
}
.color-header {
	display: flex;
}
.color-header .left,
.color-header .right {
	background-color: black;
	color: white;
	width: 50%;
	height: 100px;
}
.color-main {
	padding: 20px;
}
.color-footer {
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
}
.color-table {
	display: flex;
		flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}
#d1, #d2, #d3, #d4, #d5 {
	padding: 30px;
	text-align: center;
	font-weight: bold; 
}
.color-link {
	color: #aaa;
	text-decoration: none;
}
.color-link:hover {
	color: white;
}
.color-list {
	display: inline-block;
	padding: 5px;
	margin: 10px;
	border-bottom: 1px solid white;
}
@media screen and (max-width: 2560px) {
	.color-container {
		margin-left: 450px;
	}
	
}

@media screen and (max-width: 1440px) {
	.color-container {
		margin-left: 150px;
	}
}
@media screen and (max-width: 1024px) {
	.color-image {
		width: 670px;
		height: 75px;
	}
	.color-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-left: 140px;
		width: 750px;
	}
	.color-table {
		display: flex;
		flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
	}
}


@media screen and (max-width: 768px) {
	.color-image {
		width: 450px;
		height: 75px;
	}
	.color-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-left: 115px;
		width: 530px;
	}
	.color-table {
		display: flex;
		flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
	}
}



@media screen and (max-width: 425px) {
	.color-container {
	margin-left: 0px;
	width: 410px;	
	height: 600px;

	}
	.color-image {
		width: 320px;
		height: 60px;
	}
	.color-table {
		display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
	}
}
