.links-container {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 20px;
  justify-content: center;
}

.project-container {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: #f9fafb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
  align-items: center;
}

.project-image {
  width: 150px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 8px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.705);
}

.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.project-header {
  margin: 0 0 4px 0;
}
.project-description {
  font-size: 16px;
  color: #6b7280;
}
.project-link {
  text-decoration: none;
}
.project-link-demo,
.project-link-code {
  font-size: 0.875rem;
  padding: 6px 12px;
  margin-right: 8px;
  background-color: #1f2937;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.2s ease;
}
.project-link-demo:hover,
.project-link-code:hover {
  cursor: pointer;
  background-color: #1d4ed8;
}
@media screen and (max-width: 1440px) {
  
  .project-image {
    width: 300px;
    height: 300px;
  }
 .links-container {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .project-image
 {
    width: 200px;
    height: 200px;
  }
  .links-container {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-right: 15px;
  }
   .project-info {
    width: 100%;
  }
  .project-container {
    padding: 14px;
  }
}

@media screen and (max-width: 768px) {
  .project-image
   {
    width: 300px;
    height: 300px;
  }
  .links-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
    margin-right: 10px;
  }
   .project-info {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .project-image
   {
    width: 275px;
    height: 275px;
  }

   .links-container {
    display: flex;
    flex-direction: column;
  }
.project-container {
    margin-top: 25px;
    display: flex;
 flex-direction: column;
  }
   .project-info {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .project-image {
    width: 200px;
    height: 200px;
  }
  .project-container {
    margin-top: 25px;
    display: flex;
 flex-direction: column;
  }
  .project-info {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .project-image
   {
    width: 200px;
    height: 200px;
  }
  .links-container {
    display: flex;
    flex-direction: column;
  }
  .project-info {
    width: 100%;
  }
  .project-container {
 display: flex;
 flex-direction: column;
  }
}
