
.links-container {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr); 
    gap: 20px; 
    justify-content: center;
  }
  
 
  .project-container {
    position: relative; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 55px;
  }
  

  .project-image {
    width: 450px; 
    height: 450px; 
    object-fit: cover; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border: 8px solid white; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.705); 
  }
  

  .project-container:hover .project-image {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    
  }

@media screen and (max-width: 2560px) {
  .project-container, .project-image {
    width: 700px;
    height: 550px;
  }
  .links-container {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 10px;
  }
}

@media screen  and (max-width:1440px){
  .project-container, .project-image {
    width: 400px;
    height: 400px;
    
  }
  .links-container {
    gap: 40px;
  }
}

  @media screen and (max-width: 1024px ) {
    .project-image, .project-container {
      width: 300px;
      height: 300px;
    }
    .links-container {
      gap: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      margin-right: 15px;
    }

  }



  @media screen and (max-width: 768px) {
    .project-image, .project-container {
        width: 330px;
        height: 330px;
    }
    .links-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
     justify-items: center;
     gap: 10px;
     margin-right: 10px;
    }
    
  } 

  @media screen and (max-width: 425px) {

    .project-image, .project-container {
      width: 325px;
      height: 325px;
    }

    .links-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center; 
    }

    .project-container {
      margin-top: 25px;
    }
    
  }
@media screen  and (max-width:375px) {
  .project-container, .project-image {
    width: 300px;
    height: 300px;
  }
}
  @media screen and (max-width: 320px){
    .project-image, .project-container {
      width: 250px;
      height: 250px;
    }
  }
  