
.links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-bottom: 20px; 
  }
  
 
  .project-container {
    position: relative; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  

  .project-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  

  .project-container:hover .project-image {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

  @media screen and (max-width: 425px) {
    .links-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
    }

    .project-container {
      margin-top: 15px;
    }
    
  }
  