.container-pageBook {
    background-color: #abbacb;
    
}
@media only screen and (min-width: 768px) {
    .search-container {
        display: flex;
        justify-content: center;
    margin-bottom: 15px;
    }
    .container-for-links {
        text-align: center;
    }
}


@media only screen and (max-width: 425px) {
    .container-pageBook {
        display: flex;
        flex-direction: column;
        width: 410px;
    }
    .search-container {
        margin-top: 10px;
  margin-bottom: 15px;
    }
    .book {
        align-items: center;
    }
}
@media only screen and (max-width: 375px) {
    .container-pageBook {
        width: 360px;
    }
}
@media only screen and (max-width: 320px){
    .container-pageBook {
        width: 305px;
    }
}
