#lewy-konf {
  background: Maroon;
  color: white;
  height: 600px;
  width: 30%;
  float: left;
  margin-top: 10px;
}
#prawy-konf {
  background: Maroon;
  color: white;
  height: 600px;
  width: 70%;
  overflow: scroll;
  float: left;
}
#stopka {
  background: DimGray;
  color: white;
  clear: both;
}
#image-gibraltar
 {
  float: left;
}

#lista {
  float: left;
}
#prawy-konf p {
  clear: both;
}
#text {
  padding: 10px;
}
#image-gibraltar {
  padding: 10px;
  border: 1px solid white;
}
#indigo {
  background: Indigo;
}
#steelblue {
  background: SteelBlue;
}
#olive {
  background: Olive;
}
