.container-gazeta {
    margin: 0;
    font-family: Georgia;
    background-color: aliceblue;
}

.header-gazeta {
    background-color: #A00037;
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 3px;
}

.main-gazeta {
    width: 70%;
    float: left;
}

.button-show-article_1, .button-show-article_2, .button-show-article_3, .button-show-article_4 {
    background-color: #D81B60;
    color: white;
    padding: 15px;
    margin: 20px;
    width: 100%;
}

#artykul_1,
#artykul_2,
#artykul_3,
#artykul_4 {
    display: none;
}

.footer-gazeta {
    background-color: #D81B60;
    color: white;
    width: 20%;
    padding: 5px;
    margin: 10px;
    box-shadow: 15px 15px 12px dimgray;
    float: right;
}


.footer-cytat{
    font-style: italic;
    text-align: center;
    margin: 0;
}
.header_name {
    text-align: center;
}

.table_gazeta {
    margin: auto;
    width: 95%;
    border: 1px solid aliceblue;
}