@font-face {
    font-family: "Prata", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:"Bodoni Moda", serif;
    font-weight: 600;
    font-style: normal;
}



body {
    font-family: "Prata", serif;
    font-weight: 400;
}