.attribution-social {
    font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
}
.attribution-social .link-attribution-social {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.description-social {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 20px;
}

.links-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  margin-top: 25px;
}
.favicon,
.avatar {
  margin-top: 20%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.links-button:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}

.links-button {
  background-color: hsl(0, 0%, 20%);
  margin-top: 10px;
  border-radius: 10%;
  border: none;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}
.links-link:active {
  color: black;
}

.links-link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: white;
}

.name-social {
  margin-top: 10px;
  font-size: 25px;
  color:white;
}

.adress-social {
  margin-top: 10px;
  color: hsl(75, 94%, 57%);
}

.describe-social {
  margin-top: 20px;
  color: white;
}
@media screen and (max-width: 2560px) {
  .social-container {
    height: 1000px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {
  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links-button {
    padding-left: 100px;
    padding-right: 100px;
  }
  .social-container {
    height: 1000px;
  }
}

@media screen and (min-width: 425px) {
  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links-button {
    padding-left: 50px;
    padding-right: 50px;
  }
}
